body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Flame-Regular;
}

a{
  color: black;
  text-decoration: none;
}

.header {
  background: #ff4800;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.menu{
  display: flex;
}

.menu li{
  margin-left: 10px;
}

.menu li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px;
}

.content {
  margin-top: auto;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.navigation {
  align-items: center;
  position: absolute;
  left: 50%;
  top: 99%;
  display: flex;
}

.bar  {
  align-items: center;
  width: 70px;
  height: 17px;
  border: 2px solid black;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.bar:hover  {
  background: black;
}

.hidden  {
  display: none;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
}

.slide img {
  align-items: center;
  width: 50%;
  height: 50%;
  flex: 1 1 200px;
}

#slide1:checked ~ .s1{
  margin-left: 0;
}

#slide2:checked ~ .s1{
  margin-left: -50%;
}

#slide3:checked ~ .s1{
  margin-left: -200%;
}